.displayErrors input:invalid {
  border-color: red;
}

.container {
  text-align: center;
  background-color: antiquewhite;
  border-style: hidden;
  border-radius: 15px;
  padding:18px;
  height: 95vh;
}

.table-container {
  margin-top: 10px;
}

h1{
  font-size: 38px;
}